*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box; 
 }
 body{
     background-color: #000;
     color: #fff;
     background-image: url(c.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }
 nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(248, 246, 246);
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    color: red;
}
.detel{
    margin-left: 0%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #c4bfbf;
    margin-bottom: 20px;
}
.detel p{
    color: rgb(190, 190, 190);
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.ck2{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
#about{
    position: relative;
    top: 300px;
    color: #fff;
    background: rgb(522,522,522, 0.3);
    border-radius: 20px;
    width: 1000px;
    height: fit-content;
}
#about h2{
    color: rgb(252, 243, 243);
    font-size: 40px;
}
figure{
    position: absolute;
    left: 440px;
    top: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.images img{
   border-radius: 20px;
   filter: brightness(20%);
   border-style: ridge;
   border-top: #c4bfbf;
   border-bottom: #fff;
   border-left: #c4bfbf;
}
.images img:hover{
    filter: brightness(100%);
}
.images .ui{
    width: 400px;
    height: 400px;
}
.images .web{
    width: 400px;
    height: 400px;
}
.images .I{
    width: 400px;
    height: 400px;
}
#portfolio{
    position: relative;
    top: 600px;
}
h2{
    font-size: 30px;
}
h1{
    font-size: 30px;
}

h2{
    font-size: 50px;
}
#services{
    position: relative;
    top: 990px;
}
#services img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border-style: ridge;
    border-top: #c4bfbf;
    border-bottom: #fff;
    filter: grayscale(100%)
}
#services img:hover{
    filter: grayscale(0%);
    filter: brightness(90%);
}

footer{
    position: relative;
    top: 1300px;
    background-color: rgb(53, 9, 9);
    height: fit-content;
}
.copyright{
    position: relative;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}
#contact{
    font-size: 30px;
}
#contact img{
    width: 300px;
    height: 300px;
    filter: brightness(50%);
    margin: 0%;
    border-radius: 30px;
}
#contact a{
    color: #ffffff;
    margin: 5px;
    filter: contrast(30%);
}
#contact a:hover{
    filter: contrast(100%);
}
.facebook:hover{
    font-size: 40px;
    color: blue;
}
.instagram:hover{
    font-size: 40px;
}
.tiktok:hover{
    font-size: 40px;
}
.twitter:hover{
    font-size: 40px;
}
.youtube:hover{
    font-size: 40px;
}
.email:hover{
    font-size: 40px;
}
.phone:hover{
    font-size: 40px;
}
@media  screen and (max-width: 992px) {
  #about{
     font-size: smaller;
     top: 300px;
     color: #fff;
     background: rgb(522,522,522, 0.4);
     border-radius: 10px 10px 10px 10px;
     height: fit-content;
     width: fit-content;
  }  
  .ck2{
      width: 200px;
      height: 200px;
      border-radius: 20px;
  }
  body{
    background-image: url(forest.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  figure{
    position: absolute;
    top: 500px;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  footer{
      width: auto;
  }
  #portfolio{
    position: relative;
    top: 700px;
  }
}
@media screen and (max-width: 600px) {
    #about{
        font-size: smaller;
        background: rgb(522,522,522, 0.4);
     }  
     figure{
       position: absolute;
       top: 500px;
       left: 20px;
       width: auto;
       color: lightblue;
       font-size: 20px;
       font-family: Georgia, 'Times New Roman', Times, serif;
     } 
     .ck2{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
     body{
        background-image: url(forest.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
      #about img{
          width: 400px;
          height: 400px;
         float: left;
      }
      #services{
        position: relative;
        top: 990px;
    }
      figure{
        position: absolute;
        left: 10px;
        top: 200px;
        width: 300px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      footer{
          width: auto;
      }
      #portfolio{
        position: relative;
        top: 700px;
      }
      
}
@media screen and (max-width: 1000px) {
    #about{
        font-size: smaller;
        background: rgb(522,522,522, 0.4);
     } 
     figure{
       position: absolute;
       top: 500px;
       left: 20px;
       width: auto;
       color: lightblue;
       font-size: 20px;
       font-family: Georgia, 'Times New Roman', Times, serif;
     } 
     .ck2{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
     body{
        background-image: url(forest.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
      #services{
        position: relative;
        top: 990px;
    }
      #about img{
          width: 400px;
          height: 400px;
         float: left;
      }
      figure{
        position: absolute;
        left: 10px;
        top: 200px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      footer{
          width: auto;
      }
      #portfolio{
        position: relative;
        top: 700px;
      }
}